main{
    background-color: rgb(55, 55, 117);
    color: white;
}

/*Contenedor Titulo e Imagen Generos*/
.contenedorTituloGeneros {
    display: grid;
    margin-bottom: 100px;
}

.tituloGeneros h1{
    width: 100%;
    color: rgb(255, 60, 60);
}

.imagenGeneros {
    display: flex;
    justify-content: center;
}

.imagenGeneros img {
    height: 500px;
}
