main{
    background-color:antiquewhite
}
.contTituloContact {
    padding: 100px 0;
    display: grid;
}

.contTituloContact h1{
    font-size: 80px;
    color: rgb(206, 66, 66);
}

.Conocenos{
    margin: auto;
}
.tituloContact h1 {
    width: 100%;
    color: rgb(133, 24, 16)
}

.imgContact {
    display: flex;
    justify-content: center;
}

.imgContact img {
    height: 600px;
}


.contContenidoContact {
    display: flex;
    font-size: 25px;
    width: 90%;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 40px 0;
    text-align: justify;
}

.contContenidoContact img{
    height: 400px;
}

.contenidoContact {
    width: 500px;
    margin: auto 40px;
}

