/*Contenedor Titulo e Imagen Generos*/
.contenedorTituloGeneros {
    display: grid;
}

.tituloGeneros h1{
    width: 100%;
    color: rgb(255, 60, 60);
}

.imagenGeneros {
    display: flex;
    justify-content: center;
}

.imagenGeneros img {
    width: 90%;
    height: 400px;
}
