.contTituloGeneroSelec {
    display: grid;
}

.tituloGeneroSelec h1 {
    width: 100%;
    color: rgb(133, 24, 16)
}

.imgGeneroSelec {
    display: flex;
    justify-content: center;
}

.imgGeneroSelec img {
    width: 90%;
    height: 400px;
}
