/*Cosas Generales*/
img {
    object-fit: contain;
    width: 100%;
}
main{
    background-color: rgb(129, 129, 129);
}
/*Logo*/
.colorFooter * {
    color: rgb(255, 255, 255);
}

.logo {
    font-family: 'Denk One', sans-serif;
    padding: 10px 20px;
}

.logo a {
    text-decoration: none;
    color: white;
}
/*Textos Generales*/
.letraTextoGeneral h1{
    font-size: 50px;
    text-align: left;
    color: white;
    font-family: 'Agbalumo', serif;
}
.letraTextoGeneral h2{
    font-family: 'Rowdies', sans-serif;
    color: white;
    padding-left: 30px;
    font-size: 40px
}

.letraTextoGeneral{
    font-family: 'Ubuntu Condensed', serif;
}
/*Textos Footer*/
.letraFooter * {
    font-family: monospace;
}
/*Barra de Navegacion*/
.contOpciones {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: 'Radio Canada', sans-serif;
}

.contOpciones nav a {
    color: white;
    text-decoration: none;
    padding: 20px;
}

/*Footer*/
.contFooter {
    background-color: rgb(27, 27, 26);
    height: 280px;
    text-align: center;
}

.cajaRedes {
    display: grid;
    padding: 30px 0;
    grid-template-columns: 40% auto 40%;
}

.cajaVacia {
    border-bottom: 1px solid;
    margin: 0 30px;
    height: 12px;
    width: auto;
}

.iconosRedes {
    display: flex;
}

.iconosRedes a {
    width: 100%;
    font-size: 22px;
    text-decoration: none;
}

.reglamento {
    display: flex;
    justify-content: center;
}

.barrera {
    border-right: solid 1px;
    padding-right: 10px;
    margin-right: 10px;
}