.contOpciones {
    display: flex;
    justify-content: space-between;
    background-color: rgb(73, 14, 14);
}

.contOpciones nav a {
    color: white;
    text-decoration: none;
}
.contCategorias{
    display: flex;
    justify-content:space-around ;
}
.cajaIndex{
    display: flex;
    flex-wrap: wrap;
    width: 200px;
}