/*Cosas Generales*/
img {
    object-fit: cover;
    width: 100%;
}

.letraFooter * {
    color: rgb(230, 208, 10);
    font-family: monospace;
}

/*Barra de Navegacion*/
.contOpciones {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);
    color: white;
}

.contOpciones nav a {
    color: white;
    text-decoration: none;
}

/*Obras Populares*/
.contObraPopular {
    display: grid;
    grid-template-columns: repeat(2, 40%);
}

.descriPopular {
    align-items: end;
}

/*Categoria de Obras*/
.contCategorias {
    display: flex;
    justify-content: space-evenly;

}

.cajaIndex {
    display: flex;
    text-align: justify;
    align-items: center;
    flex-wrap: wrap;
    width: 200px;
    border: black solid 1px;
    border-radius: 10px;
    padding: 10px;
}

/*Footer*/
.contFooter {
    background-color: rgb(27, 27, 26);
    display: flex;
    height: 200px;
    display: flex;
    flex-direction: column;
}

.cajaRedes {
    display: grid;
    padding: 30px 0;
    grid-template-columns: 40% auto 40%;
}

.cajaVacia {
    border-bottom: 1px solid;
    margin: 0 30px;
    height: 12px;
    width: auto;
}

.iconosRedes {
    display: flex;
}

.iconosRedes a {
    width: 100%;
    text-align: center;
    font-size: 22px;
    text-decoration: none;
}

.copyright {
    text-align: center;
}

.reglamento {
    display: flex;
    justify-content: center;
}

.barrera {
    border-right: solid 1px;
    padding-right: 10px;
    margin-right: 10px;
}