/*Obras Populares*/
.contObraPopular {
    display: grid;
    grid-template-columns: repeat(2, 40%);
}

.descriPopular {
    align-items: end;
}

/*Categoria de Obras*/
.contCategorias {
    display: flex;
    justify-content: space-evenly;

}

.cajaIndex {
    display: flex;
    text-align: justify;
    align-items: center;
    flex-wrap: wrap;
    width: 200px;
    border: black solid 1px;
    border-radius: 10px;
    padding: 10px;
}